@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p, body {
  font-family: 'Raleway', sans-serif;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding: 2%
}

.developer-name {
  
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.icons i {
  padding-right: 10px;
}

/* Make links inherit the color of underlying text*/
a {
  color:inherit;
}
